[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
pandas = "*"
seaborn = "*"
jupyter = "*"
ipykernel = "*"
openpyxl = "*"
exceptiongroup = "*"
plotly = "*"
python-dotenv = "*"
meson = "*"

[dev-packages]

[requires]
python_version = "3.11"
