[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
pandas = "*"
seaborn = "*"
jupyter = "*"
ipykernel = "*"
openpyxl = "*"
exceptiongroup = "*"
virtualenv = "==20.0.31"
importlib-metadata = "==1.7.0"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.11"
